<header class="nav-header">
  <h2  class="logo">Kayducate</h2>
   <button
        class="menu-toggle"
        (click)="isMenuOpen = !isMenuOpen">

        ☰

    </button>
    
    
  <nav class="nav-links" [class.active]="isMenuOpen">

  <a routerLink="/" (click)="isMenuOpen=false">Home</a>

  <a routerLink="/about" (click)="isMenuOpen=false">About</a>

  <a routerLink="/contact" (click)="isMenuOpen=false">Contact</a>

  <a
    routerLink="/auth/login"
    class="login-btn"
    (click)="isMenuOpen=false">
    Login
  </a>

</nav>
</header>
<div
  class="menu-overlay"
  [class.active]="isMenuOpen"
  (click)="isMenuOpen=false">
</div>

<hr class="divider">