<div class="sidebar">

    <div class="logo">
        <h2>Kayducate</h2>
        <span>Student Portal</span>
    </div>

    <nav>

        <a routerLink="/student/dashboard" routerLinkActive="active">
            <span>🏠</span>
            Dashboard
        </a>
        <a routerLink="/student/task" routerLinkActive="active">
            <span>📚</span>
            Daily task
        </a>
         <a routerLink="/student/profile" routerLinkActive="active">
            <span>👤</span>
            Profile
        </a>

        <a routerLink="/student/courses" routerLinkActive="active">
            <span>📚</span>
            Courses
        </a>

        <a routerLink="/student/attendance" routerLinkActive="active">
            <span>📅</span>
            Attendance
        </a>

        

       

    </nav>

    <div class="logout">

        <a routerLink="/auth/login" (click)="logout()">
            🚪 Logout
        </a>

    </div>

</div>