
<aside class="admin-sidebar">

  <div class="sidebar-brand">
    <div class="brand-logo">K</div>

    <div class="brand-text">
      <h2>Kayducate</h2>
      <span>Admin Panel</span>
    </div>
  </div>

  <nav class="sidebar-nav">

    <a class="nav-item active" routerLink="/admin/dashboard" routerLinkActive="active">
      <i class="fa-solid fa-table-columns"></i>
      <span>Dashboard</span>
    </a>

    <a class="nav-item" routerLink="/admin/students" routerLinkActive="active">
      <i class="fa-solid fa-user-graduate"></i>
      <span>Students</span>
    </a>

    <a class="nav-item" routerLink="/admin/courses" routerLinkActive="active">
      <i class="fa-solid fa-book-open"></i>
      <span>Courses</span>
    </a>

    <a class="nav-item" routerLink="/admin/attendance" routerLinkActive="active">
      <i class="fa-solid fa-calendar-check"></i>
      <span>Attendance</span>
    </a>

    <a class="nav-item" routerLink="/admin/tasks" routerLinkActive="active">
      <i class="fa-solid fa-list-check"></i>
      <span>Tasks</span>
    </a>


  </nav>

  <div class="sidebar-footer">

    <button class="logout-btn">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      Logout
    </button>

  </div>

</aside>